.main {
  margin: 1.6rem 5rem;
  padding: 0.5rem 0.5rem;
  font-family: "Lato", sans-serif;
}

.navigation {
  display: flex;
}

.header-text {
  font-size: 26px;
  margin-right: 2.5rem;
}

.navlist {
  display: flex;
}

.navlist-item {
  padding: 10px 15px;
  list-style: none;
}

.navlist-item:hover {
  font-size: 1.2rem;
  padding: 3px;
  color: rgb(85, 85, 85);
}

.content-header {
  font-size: 1.3rem;
}

section {
  margin: 3rem 0;
  border-top: 0.5px solid black;
  padding: 1rem 0;
}

.about-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2.5rem 0;
}

.about-hero {
  border-radius: 5px;
  width: 25%;
}

.about-text {
  width: 25%;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
}

.skill,
.social-icon {
  width: 50px;
}
.skillDark {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.projects-iframe {
  padding: 1.8rem;
  margin: 0.5rem;
}

.project-container-header {
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
}
.social-container {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  max-height: 155px;
}

.social-icon:hover {
  width: 52px;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

.footer-text {
  /* padding: 2rem 0; */
}
