html, body {
  height: 100%
}
body {
  background-image: url("media/abstract-background-wallpaper.jpg");
  color: white;
  display: flex;
  align-items: stretch;
}
.main {
  /* margin: 1.6rem 5rem; */
  padding: 0.5rem 0.5rem;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

#logo-text {
  height: 5.5rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-container {
 display: flex;
}


.navlist {
  display: flex;
  flex-direction: column;
}

.navlist-item {
  padding: 10px 15px;
  list-style: none;
}

.navlist-item:hover {
  /* font-size: 1.2rem;
  padding: 3px;
  color: rgb(85, 85, 85); */
}

/* .header-text {
  font-size: 26px;
  margin-right: 2.5rem;
} */

.content-header {
  font-size: 1.3rem;
  text-align: center;
}

section {
  margin: 3rem 0;
  /* border-top: 0.5px solid black; */
  padding: 1rem 0;
}

.about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.5rem 0;
}

/* .about-hero {
  border-radius: 5px;
  width: 25%;
} */

.about-text {
  width: 60%;
  font-size: 1.2rem;
  line-height: 1.5;
}

.about-subtext {
  padding-top: 0.5rem;
  font-style: italic;
}

.about-text p {
  padding-left: 0.3rem;
}

#hello {
  opacity: 1;
  transition: opacity 1.5s ease;
}


.about-text h2 {
  font-size: 6rem;
  font-weight: 800;
  font-style: italic;
}

.about-text h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

.about{
  height: 100%;
  display: flex;

}

.skills {
  height: 100%;
  
}

.skills-container {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0;
  flex-direction: column;
}

.skill,
.social-icon {
  width: 50px;
}
.skillDark {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.projects-iframe {
  padding-top: 0.8rem;
  margin-top: 0.5rem;
}

.project-container-header {
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
}
.social-container {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  max-height: 155px;
}

.social-icon:hover {
  width: 52px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.lightModeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: 5%;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 1.6rem 1rem;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
  }
/* 
  .about-hero {
    width: 50%;
  } */

  .about-text {
    width: 100%;
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .projects-iframe {
    width: 100%;
  }

  .social-container {
    flex-direction: column;
    align-items: center;
  }

  .fcf-body {
    max-width: 100% !important;
    margin-top: 2rem !important;
  }

  .fcf-button {
    width: 1rem !important;
  }

  footer{
    margin: 3%;
  }

  .lightModeButton{
    margin-right: 25%;
  }

  .footer-text {
    text-align: center;
  }
}
